people.txt
summary.txt
brainstorming.txt
*.txt
*.png
*.fits
*.dat
*.ascii
*.csv
*.pdf
*.key
*.163w
*.pages
*.md
*.qdp
*.DS_Store
*.zip
*.spec
*.tar
*.eps
*.docx
*.pyc
*.swp
*.xlsx
*.cls
*.log
*.aux
*.out
*.gz
*.xml
*.arf
*.pi
*.rmf
*.lis
*.reg
*.img
*.fov
*.prob
*.expmap
*.gllc
*.lc
*README
